body {
  font-family: "Open Sans", helvetica, arial, sans-serif;
  margin: 3vw;
  background-color: black;
  background-image: url("images/tesla.png");
  color: grey;
}

h2 {
  color: rgba(114, 146, 250, 0.733);
}

.main {
  display: flex;
  justify-content: space-around;
  height: 70vh;
}

.left, .right {
  width: 46vw;
}

img {
  height: 40vh;
  width: auto;
  margin: 3vh 0;
}

a:visited {
  color: blue;
}
